<ion-header>
  <ion-toolbar>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="summary-modal">
  <h2 class="title">User Info</h2>
  <ion-item><ion-label><strong>Name:</strong> {{ userInfo.name }}</ion-label></ion-item>
  <ion-item><ion-label><strong>Last Name:</strong> {{ userInfo.lastName }}</ion-label></ion-item>
  <ion-item><ion-label><strong>Country:</strong> {{ userInfo.country }}</ion-label></ion-item>
  <ion-item><ion-label><strong>City:</strong> {{ userInfo.city }}</ion-label></ion-item>
  <ion-item><ion-label><strong>Phone:</strong> {{ userInfo.phoneNumber }}</ion-label></ion-item>
  <ion-item><ion-label><strong>Email:</strong> {{ userInfo.email }}</ion-label></ion-item>
  <ng-content >
    <ion-button (click)="close()" class="center-button">Close</ion-button>
  </ng-content>
</ion-content>
